@font-face {
    font-family: code;
    src: url(../assents/fonts/PressStart2P-Regular.ttf);
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #0F0F0F;
}

#offcanvasNavbar{
    border-left: 1px solid #222222;
    background-color: #0F0F0F;
    color: white;
}

#offcanvas-style > ul > li > a{
    color: white;
    padding: 5px;
    margin-bottom: 7px;
    transition: 0.3s;
}

#offcanvas-style > ul > li > a:hover{
    background-color: #222222;
}

#limiter-navbar{
    padding: 0px; 
}

#color-navbar{
    padding: 15px;
    background-color: #222222;
    color: white;
    border-bottom: #0F0F0F;
}

#botao-navbar{
    filter: invert(100%);
}

#container-pesquisa{
    background-color: #222222;
    padding: 0px;
}

#color-navbar{
    display: flex;
    align-items: center;
}