/*MEDIDOR PARA SUMIR O PESQUISAR ANTES QUE QUEBRE*/
@media (max-width: 550px) {
    #pesquisa{
        display: none;
    }
  }

#general-container{
    background-color: #0F0F0F;
}

main{
    max-width: 2000px;
    min-width: 320px;
    margin: auto;
    height: 100vh;

    background-color: #0F0F0F;
    padding-top: 90px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

#titulo{
    font-size: 2.3em;
}

#desc{
    max-width: 100ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#alert{
    text-decoration: none;
}

.card{
    cursor: pointer;
    margin: 10px;
}

#container-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#container-pesquisa{
    background-color: #222222;
    padding: 0px;
}

#color-navbar{
    display: flex;
    align-items: center;
}

#subheader{
    padding-top: 85px;
    display: flex;
    align-items: center;
    max-width: 2000px;
    min-width: 320px;
    margin: auto;
}

#icon-perfil{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-image: url(https://cdn.icon-icons.com/icons2/2985/PNG/512/profile_female_user_woman_icon_187166.png);
    background-color: aqua;
    background-size: cover;
    float: right;
    margin-left: 15px;
}