@font-face {
    font-family: code;
    src: url(../assents/fonts/PressStart2P-Regular.ttf);
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #0F0F0F;
}

#offcanvasNavbar{
    border-left: 1px solid #222222;
    background-color: #0F0F0F;
    color: white;
}

#offcanvas-style > ul > li > a{
    color: white;
    padding: 5px;
    margin-bottom: 7px;
    transition: 0.3s;
}

#offcanvas-style > ul > li > a:hover{
    background-color: #222222;
}

#limiter-navbar{
    padding: 0px; 
}

#color-navbar{
    padding: 15px;
    background-color: #222222;
    color: white;
    border-bottom: #0F0F0F;
}

#botao-navbar{
    filter: invert(100%);
}

main{
    max-width: 2000px;
    min-width: 320px;
    margin: auto;

    background-color: #0F0F0F;
    margin-top: 71px;
    padding: 15px;
}

#carta{
    padding: 5px;
    background-color: #222222;
    color: white;
    cursor: pointer ;
}

#container-alert{
    position: relative;
    height: 100vh;
}

#alert{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 25px;
}

#container-btn-view-more{
    text-align: center;
    margin-top: 25px;
}

.code{
    color: green;
    font-family: 'code';
    font-size: 0.7em;
}

.link{
    text-decoration: none;
    color: black;
}

#tudo-ok{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

.link:hover{
    text-decoration: underline;
    color: rosybrown;
}

#container-error{
    position: relative;
    height: 100vh;
}

#error-connection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}